* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  position: fixed;
  left: 0px;
  top: 200px;
  height: calc(100% - 200px);
  width: 100px;
}

.pads > div {
  height: 20%;
}

.pad1 {
  background: #60d981;
}

.pad2 {
  background: #d918f2;
}

.pad3 {
  background: #0c92e0;
}

.pad4 {
  background: #890abe;
}

.pad5 {
  background: #f0ec00;
}

.pad6 {
  background: #ff5e00;
}

.visual > div {
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
}

@-webkit-keyframes jump0 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 0%;
  }
}

@keyframes jump0 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 4));
    left: 0%;
  }
}

@-webkit-keyframes jump1 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 0%;
  }
}

@keyframes jump1 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 3));
    left: 0%;
  }
}

@-webkit-keyframes jump2 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 0%;
  }
}

@keyframes jump2 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + (calc((100% - 200px) / 5) * 2));
    left: 0%;
  }
}

@-webkit-keyframes jump3 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 0%;
  }
}

@keyframes jump3 {
  0% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 0%;
  }
  50% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 50%;
  }
  100% {
    bottom: calc(calc(calc((100% - 200px) / 5) / 2  - 2.5%) + calc((100% - 200px) / 5));
    left: 0%;
  }
}

@-webkit-keyframes jump4 {
  0% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 0%;
  }
  50% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 50%;
  }
  100% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 0%;
  }
}

@keyframes jump4 {
  0% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 0%;
  }
  50% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 50%;
  }
  100% {
    bottom: calc(calc((100% - 200px) / 5) / 2  - 2.5%);
    left: 0%;
  }
}

.lines {
  position: fixed;
  left: 100px;
  top: 200px;
  width: calc(100% - 100px);
  height: calc(100% - 200px);
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line0 {
  background: #ffffff;
  width: calc((100% - 20px) / 5);
}

.line1 {
  background: #6d6f70;
  width: 5px;
}

.line2 {
  background: #ffffff;
  width: calc((100% - 20px) / 5);
}

.line3 {
  background: #6d6f70;
  width: 5px;
}

.line4 {
  background: #ffffff;
  width: calc((100% - 20px) / 5);
}

.line5 {
  background: #6d6f70;
  width: 5px;
}

.line6 {
  background: #ffffff;
  width: calc((100% - 20px) / 5);
}

.line7 {
  background: #6d6f70;
  width: 5px;
}

.placeHolders {
  position: fixed;
  left: calc(100px + calc((100% - 20px) / 5)/2);
  width: calc(100% - 100px);
  height: calc(100% - 200px);
  top: 200px;
  z-index: 1;
}

.placeH1 {
  background: red;
  height: 20%;
  width: calc((100% - 20px) / 5);
}

.placeH1 > div {
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  top: calc(20% / 2 - 2.5%);
  left: 50%;
  z-index: 2;
}

.placeH2 {
  background: blue;
  height: 100px;
  width: calc(calc((100% - 20px) / 5));
}
/*# sourceMappingURL=style.css.map */